html
{
  background: hsla(var(--backgroundHsl), 1);
  color: hsla(var(--foregroundHsl), 1);
}

h1,h2,h3,h4,h5,h6
{
  color: hsla(var(--headingHsl), 1);
}

a, a:link, a:visited
{
  color: hsla(var(--accentHsl), 1);
  text-decoration: none;
  transition: color .2s;
}

a:hover
{
  color: hsla(var(--accentHoverHsl), 1);
}