/* min-width should equal var(--maxWrapWidth) here but vanilla css doesnt support that yet */
@media screen and (min-width: 70ch) {
    #transactions .content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        align-items: stretch;
    }

    #transactions .transaction {
        border: 1px solid hsla(var(--foregroundHsl), .25);
        padding: 5px;
        padding-top: 0;
    }

    #transactions .content> :first-child {
        border-top: 1px solid hsla(var(--foregroundHsl), .25);
    }
}